---
layout: default
title: Catalogo
description: Catalogo dischi
---

<div class="hide-for-small-only">
    <ul class="small-block-grid-4">
        <li><strong>Artists</strong></li>
        <li ><strong>Title</strong></li>
        <li class="text-center"><strong>Released</strong></li>
        <li><strong>Format</strong></li>
    </ul>
    <hr>
    {% for discog in site.data.discogs  %}
      <ul class="small-block-grid-4 ">
        <li>{{ discog.Artist }}</li>
        <li><em>{{ discog.Title }}</em></li>
        <li class="text-center"><em>{% if discog.Released == "0" %} x {% else %} {{ discog.Released }} {% endif %}</em></li>
        <li><small>{{ discog.Format}}</small></li>
      </ul>
    {% endfor %}
</div>
<div class="show-for-small-only">
 <ul class="no-bullet">
    {% for discog in site.data.discogs  %}
        <li><strong>Artist:</strong> {{ discog.Artist }}</li>
        <li><strong>Title:</strong><em> {{ discog.Title }}</em></li>
        <li><strong>Released:</strong> <em> {% if discog.Released == "0" %} x {% else %} {{ discog.Released }} {% endif %}</em></li>
        <li><strong>Format:</strong> {{ discog.Format}}</li>
      <hr>
    {% endfor %}
  </ul>  
</div>