---
layout: default
title: Giradischi
description: Giradischi e impianti audio
---

<div class="small-12 columns">
  <h1 class="text-center title">{{page.title}}</h1>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

      {% for post in site.categories.giradischi %}
      <li>  
        <h3>
         <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
          {% if post.image contains 'http' %}
           <a href="{{ post.url }}"><img src="{{ post.image }}" alt="{{ post.title }}"></a>
          {% else%}
           <a href="{{ post.url }}"><img src="{{site.url}}/img/giradischi/{{ post.image }}" alt="{{ post.title }}"></a>
          {% endif %}
         <!-- <a href="{{ post.url }}"><h6>{{ post.prezzo }} €</h6></a> -->
         <a href="{{ post.url }}"><h6>{{ post.sottotitolo }} <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
</h6></a>

       </li>
      {% endfor %}
  </ul>
</div>
