---
layout: default
title: Giradischi
description: Giradischi e impianti audio
---

<div class="columns">
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

      {% for post in site.categories.giradischi %}
      <li>  
        <h3>
         <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <h6>{{ post.date | date: '%B %d, %Y' }}</h6>
         {% if post.image %}
         <img class="imgblog" src="{{site.url}}/img/giradischi/{{ post.image }}" alt="{{ post.title }}">
         {% else %}
         {% endif %}
         <p class="small text-justify"> {{ post.content | strip_html | truncatewords:25}} 
         <span><a href="{{ post.url }}"><i class="fa fa-hand-o-right" aria-hidden="true"></i>
         </a></span></p>
       </li>
      {% endfor %}
  </ul>
</div>
