<li><a href="{{site.url}}/catalogo.html" class="font-bold">catalogo</a></li>
<li><a href="{{site.url}}/giftcard.html" class="font-bold">gift card</a></li>
<li><a href="{{site.url}}/news.html" class="font-bold">news</a></li>
<li><a href="{{site.url}}/giradischi.html" class="font-bold">giradischi & hi-fi</a></li>
<li><a href="{{site.url}}/management.html" class="font-bold">management</a></li>
<li><a href="{{site.url}}/contatti.html" class="font-bold">contatti</a></li>

<li><a href="https://www.discogs.com/seller/blackmarmaladerecords/profile" class="font-bold">discogs</a></li>
<li><a href="https://www.facebook.com/blackmarmaladerecords/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<li><a href="https://www.instagram.com/blackmarmaladerecords/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>